.nav {
    width: 100%;
    display: flex;
    justify-content: center;

    @media (min-width: 1024px) {
        flex: 1;
        align-items: center;
    }

    ul {
        @extend %width;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;

        @media (min-width: 1024px) {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 0;
        }

        @media (min-width: 1440px) {
        }

        li {
            position: relative;
            display: inline-flex;
            text-indent: initial;
            @extend %width;
            @media (min-width: 1024px) {
                min-width: max-content;
                width: calc(100% / 7);
            }
            &::before {
                display: none;
            }

            &::after {
                position: absolute;
                content: "";
                top: 0%;
                left: 0;
                width: 100%;
                height: 100%;
                background: #ff8427;
                border-radius: 60px;
                // transform: scaleX(0);
                // transform-origin: right;
                // will-change: transform;
                // transition: transform 0.5s ease-out;
                transition: all 0.4s;
                opacity: 0;
                z-index: -1;
            }

            // &:not(:last-of-type) {
            //     margin-bottom: 1rem;

            //     @media (min-width: 1024px) {
            //         margin-bottom: 0;
            //     }
            // }

            a {
                display: block;
                @extend %width;
                padding: 1.2rem 0rem;
                text-align: center;
                @media (min-width: 1024px) {
                    padding: 1.2rem 3rem;
                }
            }

            &:hover,
            &:focus {
                &::after {
                    // transform: scaleX(1);
                    // transform-origin: left;
                    // border-radius: 60px;
                    transition: all 0.4s;
                    opacity: 1;
                }
            }
        }
    }
}
.item-logo {
    display: none;
    width: 9rem;
    margin: 0 4rem;
    transition: all 0.4s;
    transform: scale(1);
    &:hover,
    &:focus {
        transition: all 0.4s;
        transform: scale(1.2);
    }
}
