nav.nav
    a.item-logo(href="index.html"): img(src="./wp-content/themes/GreenBall/assets/img/logo.png" width="" height="" alt="GreenBall" title="GreenBall")
    ul(role="menu")
        li(role="menuitem")
            a(href="#services") Прайсы и скидки
        li(role="menuitem")
            a(href="#price") Новинки
        li(role="menuitem")
            a(href="#reviews") Акции
        li(role="menuitem")
            a(href="#photo") Условия работы
        li(role="menuitem")
            a(href="#photo") Начать бизнес с нуля
        li(role="menuitem")
            a(href="#photo") О компании
        li(role="menuitem")
            a(href="#photo") Контакты
