.sliderss-arrow.sliders-addres
    //- Slider main container
    .swiper.slider-arrow.slider-addres
        //-   Additional required wrapper
        .swiper-wrapper
            //- Slides
            .swiper-slide.swiper-slide-arrow.swiper-slider-addres 
                .slider-addres-txt
                    h3 Чиполлино
                    h4 г. Тольятти, ул. Юбилейная, 10а
                    span Розничный садово-огородный магазин
                    p
                        span.price 1500 м
                        | торговая площадь

                include ./../../bem-blocks/slider/slider-addres-min.pug
            .swiper-slide.swiper-slide-arrow.swiper-slider-addres 
                .slider-addres-txt
                    h3 Чиполлино
                    h4 г. Тольятти, ул. Юбилейная, 10а
                    span Розничный садово-огородный магазин
                    p
                        span.price 1500 м
                        | торговая площадь
                include ./../../bem-blocks/slider/slider-addres-min.pug
            .swiper-slide.swiper-slide-arrow.swiper-slider-addres 
                .slider-addres-txt
                    h3 Чиполлино
                    h4 г. Тольятти, ул. Юбилейная, 10а
                    span Розничный садово-огородный магазин
                    p
                        span.price 1500 м
                        | торговая площадь
                include ./../../bem-blocks/slider/slider-addres-min.pug
            //-   If we need pagination
        //- .swiper-pagination

            //-   If we need navigation buttons
        .swiper-button-prev
        .swiper-button-next

            //-   If we need scrollbar
        //- .swiper-scrollbar