.sliderss-arrow,
.sliders-addres {
    // display: flex;
    //min-width: 0;
    position: relative; // напиши или потеряешь стрелки
}
.sliders-addres,
.slider-arrow {
    //width: auto; //если в js колличество для показа стоит auto
}
.slider-addres {
    //width: 98.8rem;
    padding-top: 6.7rem;
}
.swiper-slider-addres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: 1400px) {
        flex-direction: row;
        justify-content: flex-end;
        height: 456px;
    }

    width: 100%;
    //max-width: 98.8rem !important;
    //height: 456px;
}

.slider-addres-txt {
    background-image: url("../img/icons/slider-addres-list.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 26px;
    position: relative;
    box-shadow: 0 10px 5px -5px #b8b8b8;
    height: max-content;
    padding: 1.8rem 2.1rem;
    margin-bottom: -7rem;
    @media (min-width: 1400px) {
        margin-right: -6rem;
        margin-bottom: 0;
        padding: 3.8rem 5.1rem;
    }
    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: #e2e2e2;
        border-radius: 26px;
        z-index: -1;
    }
    span {
        font-size: 1.4rem;
        line-height: 22px;
        margin-bottom: 2rem;
        display: block;
        @media (min-width: 1600px) {
            font-size: 1.8rem;
            line-height: 25px;
            margin-bottom: 5rem;
        }
    }
}
.swiper-slider-addres .slider-addres-txt {
    p {
        text-align: left;
        font-size: 1.4rem;
        line-height: 22px;
        margin-bottom: 1.3rem;
        @media (min-width: 1600px) {
            font-size: 1.6rem;
        }
        &:last-child {
            margin-bottom: 0;
            padding-top: 0.9rem;
        }
        .size {
            font-size: 1.8rem;
            @extend %color-green;
            display: inline;
            padding-right: 1.4rem;
            @media (min-width: 1600px) {
                font-size: 2.4rem;
            }
        }
    }
}
// стрелки
.swiper-button-prev {
    display: none;
}
.swiper-button-next {
    z-index: 1;
    right: 0rem;
    top: 35%;
    &::after {
        @extend %color-green;
        font-size: 5rem;
    }
    @media (min-width: 480px) {
        right: 2%;
    }
    @media (min-width: 580px) {
        right: 5%;
    }
    @media (min-width: 768px) {
        top: 50%;
        right: 32%;
        transform: translate(-81%, 30%);
    }
    @media (min-width: 1400px) {
        right: 30.3%;
        transform: translate(-81%, 30%);
    }
    @media (min-width: 1550px) {
        right: 28%;
        transform: translate(-81%, 30%);
    }
    @media (min-width: 1600px) {
        right: 34%;
        transform: translate(-81%, 30%);
    }
}
// НЕ активная стрелка
.swiper-button-disabled {
    &::after {
        color: rgb(10, 10, 10);
        opacity: 0.8;
    }
}

// слайдер в слайдере с картинками
.sliders-addres-min {
    min-width: 0;
    z-index: -2;
    border-radius: 26px;
    overflow: hidden;
    .swiper-wrapper {
        // width: 54.8rem;
        // height: 45.6rem;
        // overflow: hidden;
    }
}
.sliders-addres-min-img {
    width: 30rem;
    height: 23rem;
    @media (min-width: 400px) {
        width: 37.2rem;
        height: 30rem;
    }
    @media (min-width: 1400px) {
        width: 44rem;
        height: 40rem;
    }
    @media (min-width: 1600px) {
        width: 54.8rem;
        height: 45.6rem;
    }
}
.swiper-slide-addres-min {
    border-radius: 26px;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.h3-slider {
    font-size: 1.8rem;
    line-height: 25px;
    margin-bottom: 0.8rem;
    @media (min-width: 1600px) {
        font-size: 3rem;
        line-height: 41px;
    }
}
.h4-slider {
    font-size: 1.6rem;
    line-height: 23px;
    margin-bottom: 1.2rem;
    @media (min-width: 1600px) {
        font-size: 2.4rem;
        line-height: 33px;
    }
}
