.sliders-addres
    //- Slider main container
    .swiper.slider-addres
        //-   Additional required wrapper
        .swiper-wrapper
            //- Slides
            .swiper-slide.swiper-slider-addres 
                .slider-addres-txt
                    h3.h3-slider Чиполлино
                    h4.h4-slider г. Тольятти, ул. Юбилейная, 10а
                    span Розничный садово-огородный магазин
                    p
                        span.size 1500 м
                            sup 2
                        | торговая площадь
                    p
                        span.size 500 м
                            sup 2
                        | сезонная площадка
                    p
                        span.size 52000
                        | позиций ассортимента

                include ./../../bem-blocks/slider/slider-addres-min.pug
            .swiper-slide.swiper-slider-addres 
                .slider-addres-txt
                    h3.h3-slider Чиполлино
                    h4.h4-slider г. Тольятти, ул. Юбилейная, 10а
                    span Розничный садово-огородный магазин
                    p
                        span.size 1500 м
                            sup 2
                        | торговая площадь
                    p
                        span.size 500 м
                            sup 2
                        | сезонная площадка
                    p
                        span.size 52000
                        | позиций ассортимента
                include ./../../bem-blocks/slider/slider-addres-min.pug
            .swiper-slide.swiper-slider-addres 
                .slider-addres-txt
                    h3.h3-slider Чиполлино
                    h4.h4-slider г. Тольятти, ул. Юбилейная, 10а
                    span Розничный садово-огородный магазин
                    p
                        span.size 1500 м
                            sup 2
                        | торговая площадь
                    p
                        span.size 500 м
                            sup 2
                        | сезонная площадка
                    p
                        span.size 52000
                        | позиций ассортимента
                include ./../../bem-blocks/slider/slider-addres-min.pug

            //-   If we need navigation buttons
        .swiper-button-prev
        .swiper-button-next

            //-   If we need scrollbar
        //- .swiper-scrollbar