.sliderss-arrow.sliders-addres-min
    //- Slider main container
    .swiper.sliders-addres-min-img
        //-   Additional required wrapper
        .swiper-wrapper
            //- Slides
            .swiper-slide.swiper-slide-addres-min 
                img(src="./wp-content/themes/GreenBall/assets/img/magaz1.jpg", alt="")
            .swiper-slide.swiper-slide-addres-min 
                img(src="./wp-content/themes/GreenBall/assets/img/magaz2.jpg", alt="")
            .swiper-slide.swiper-slide-addres-min 
                img(src="./wp-content/themes/GreenBall/assets/img/magaz3.jpg", alt="")