.card1 {
    width: 100%;
    @media (min-width: 1024px) {
        display: flex;
        align-items: flex-start;
        gap: 4rem;
    }
    @media (min-width: 1340px) {
        gap: 0;
        padding: 0 6rem;
    }
    &__block {
        display: flex;
        width: 100%;
        gap: 2rem;
        align-items: flex-start;
        margin-bottom: 3.6rem;
        @media (min-width: 1024px) {
            flex-direction: column;
            margin-bottom: 0;
            width: calc(100% / 3);
        }
        @media (min-width: 1340px) {
            margin-bottom: 0;
            width: calc(100% / 3);
            padding: 3.5rem 5rem;
            position: relative;
        }
        &::after {
            @extend %psevdo-absolut-content;
            z-index: -1;
            @media (min-width: 1340px) {
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;
                border-right: 2px solid #e2e2e2;
            }
        }
        &:last-child {
            &::after {
                display: none;
            }
            @media (min-width: 1340px) {
                padding-right: 0rem;
            }
        }
        &:first-child {
            @media (min-width: 1340px) {
                padding-left: 0rem;
            }
        }
        &--img {
            width: 100%;
            min-width: 7.7rem;
            max-width: 7.7rem;
            @media (min-width: 650px) {
                min-width: 8.8rem;
                max-width: 8.8rem;
            }
        }
        &--txt {
        }
    }
    h3 {
        @include Manrope-Light;
        font-size: 2.2rem;
        line-height: 30px;
        margin-bottom: 1.8rem;
        @media (min-width: 1024px) {
            font-size: 2.6rem;
            line-height: 36px;
            margin-bottom: 1.2rem;
        }
    }
    p {
        font-size: 1.4rem;
        line-height: 19px;
        @media (min-width: 1024px) {
            font-size: 1.6rem;
            line-height: 22px;
        }
    }
}
.card2 {
    //background-image: url("../img/icons/ramca1.svg");
    background-image: url("../img/icons/r.svg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    padding: 2rem 0 2rem 2.6rem;
    margin-bottom: 4.5rem;
    width: 100%;
    max-width: 33.5rem;
    height: 55.1rem;
    @media (min-width: 1200px) {
        background-image: url("../img/icons/ramca1.svg");
        max-width: 116rem;
        height: 68.5rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 2rem 0 2rem 0rem;
    }
    &__right {
        &-img {
            position: absolute;
            top: 50%;
            left: 0;
            max-width: 18.8rem;
            transform: translate(-15%, -35%);
            @media (min-width: 1200px) {
                position: initial;
                // max-width: 24.8rem;
                transform: translate(0%, 0%);
                height: 100%;
                max-width: 50.3rem;
                transform: translate(-2rem, 3rem);
            }
        }
        h3 {
            @include Manrope-Light;
            font-size: 2rem;
            line-height: 27px;
            position: absolute;
            top: 1.8rem;
            left: 2rem;
            @media (min-width: 1200px) {
                position: initial;
                font-size: 5rem;
                line-height: 68px;
                margin-left: 9rem;
            }
        }
    }
    &__left {
        @media (min-width: 1200px) {
            width: 100%;
            max-width: 60%;
        }
        &--box {
            padding-top: 2rem;
            @media (min-width: 375px) {
                padding-top: 3rem;
            }
        }
        &--txt {
            font-size: 1.3rem;
            line-height: 18px;
            max-width: max-content;
            margin-left: auto;
            margin-bottom: 2rem;
            padding-right: 2rem;
            @media (min-width: 1200px) {
                font-size: 2rem;
                line-height: 27px;
                margin-left: 0;
            }
            span {
                @media (min-width: 1200px) {
                    font-size: 2.8rem;
                    line-height: 38px;
                }
            }
        }
        span {
            font-size: 1.8rem;
            line-height: 25px;
            margin-left: 0.7rem;
            @media (min-width: 1200px) {
                font-size: 3rem;
                line-height: 41px;
            }
        }
        &--box-logotip {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            width: 100%;
            max-width: 18rem;
            padding-top: 3rem;
            margin-bottom: 2.8rem;
            margin-left: auto;
            height: 18rem;
            @media (min-width: 375px) {
                max-width: 70%;
                min-width: 70%;
                border-radius: 50px 0 0 50px;
                overflow: hidden;
            }

            @media (min-width: 1200px) {
                max-width: 100%;
                min-width: 100%;
                gap: 1rem;
            }

            li {
                width: 100%;
                max-width: 28%;
                min-width: 25%;
                height: calc((100% - 0.5rem) / 3);
                display: flex;
                align-items: center;
                justify-content: center;
                @media (min-width: 1200px) {
                    max-width: 20%;
                    min-width: 20%;
                    height: calc((100% - 1rem) / 2);
                }
            }
            img {
                -webkit-filter: grayscale(100%);
                -moz-filter: grayscale(100%);
                -ms-filter: grayscale(100%);
                -o-filter: grayscale(100%);
                filter: grayscale(100%);
                transition: all 0.5s;
                // -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                // filter: grayscale(100%);
                &:hover,
                &:focus {
                    -webkit-filter: grayscale(0%);
                    -moz-filter: grayscale(0%);
                    -ms-filter: grayscale(0%);
                    -o-filter: grayscale(0%);
                    filter: grayscale(0%);
                    transition: all 0.5s;
                }
                @media (min-width: 1200px) {
                    max-height: 100%;
                }
            }
        }
        &--list {
            font-size: 1.2rem;
            line-height: 19px;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding-right: 2rem;
            @media (min-width: 1200px) {
                font-size: 1.6rem;
                line-height: 22px;
                padding-left: 0.5rem;
                gap: 1.5rem;
            }
            li {
                position: relative;
                padding-left: 2rem;
                &::before {
                    @extend %psevdo-absolut-content;
                    width: 1.6rem;
                    height: 1.6rem;
                    top: 0.4rem;
                    left: 0;
                    background-image: url("../img/v.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    @media (min-width: 1200px) {
                        width: 2.6rem;
                        height: 2.6rem;
                    }
                }
                @media (min-width: 1200px) {
                    padding-left: 3.6rem;
                }
            }
        }
        &--img {
            display: none;
            position: absolute;
            @media (min-width: 1200px) {
                display: block;
                right: 0.2rem;
            }
        }
        &--img--top {
            @media (min-width: 1200px) {
                top: 0.2rem;
            }
        }
        &--img--bottom {
            @media (min-width: 1200px) {
                transform: translate(3.8rem, -0.8rem);
            }
        }
        .link-orange {
            display: block;
            text-align: center;
            align-self: center;
            text-align: center;
            @media (min-width: 620px) {
                display: inline-block;
                left: 50%;
                transform: translateX(-50%);
            }
            @media (min-width: 1200px) {
                left: 0%;
                transform: translateX(0%);
                margin-top: 4rem;
            }
        }
        &--txt--bottom {
            display: none;
        }
    }
    .btn {
        margin-top: 1.3rem;
        display: block;
        text-align: center;
        width: 95%;
        padding: 1.1rem 2.1rem;
        height: auto;
        span {
            margin: 0 0.2rem;
            @extend %color-green;
            @media (min-width: 1200px) {
                font-size: 1.6rem;
                line-height: 22px;
            }
        }
        @media (min-width: 500px) {
            min-width: 95%;
            max-width: 95%;
        }
        @media (min-width: 1200px) {
            max-width: 33rem;
            min-width: 33rem;
            padding: 2.1rem;
            margin-top: 5rem;
        }
    }
    .plr {
        @media (min-width: 1200px) {
            padding: 2.1rem 7rem;
        }
    }
}
.card3 {
    width: 100%;
    max-width: 33.5rem;
    height: 41.6rem;
    background-image: url("../img/icons/ramca2.svg");
    position: relative;
    margin-bottom: 0;
    @media (min-width: 1200px) {
        background-image: url("../img/icons/ramca2.svg");
        max-width: 55.1rem;
        height: 68.5rem;
        padding-left: 4.2rem;
    }
    .card2__right {
        @media (min-width: 1200px) {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        .card__title {
            font-weight: 300;
            font-size: 2rem;
            line-height: 27px;
            color: #000000;
            position: sticky;
            margin-bottom: 2.1rem;
            @media (min-width: 1200px) {
                font-size: 3.4rem;
                line-height: 46px;
                margin-left: 0;
            }
        }
    }
    .card2__left--list {
        @media (min-width: 1200px) {
            width: 70%;
        }
        li {
            &:nth-child(2) {
                max-width: 62%;
                @media (min-width: 1200px) {
                    max-width: 100%;
                }
            }
        }
    }
    .card2__left--img {
        display: block;
        right: -1rem;
    }
    .card2__left--img--top2 {
        top: 0;
        width: 14.7rem;
        transform: translate(0, 6.6rem);
        z-index: -1;
        @media (min-width: 1200px) {
            width: 27rem;
            transform: translate(3.5rem, 8.4rem);
            z-index: 0;
        }
    }
    .card2__right-img {
        display: flex;
        flex-direction: column;
        height: 13rem;
        width: 12rem;
        position: relative;
        padding-top: 3rem;
        transform: translate(0, 0);
        @media (min-width: 1200px) {
            top: 0;
            width: 20rem;
            height: 20rem;
            transform: translate(-4rem, 40%);
        }
        .card2__right-img--img {
            position: absolute;
            &:nth-child(1) {
                width: 6.6rem;
                top: 0;
                right: 0;
                transform: translate(-2rem, 1rem);
                @media (min-width: 1200px) {
                    width: auto;
                    height: 12.6rem;
                    transform: translate(2rem, -3rem);
                }
            }
            &:nth-child(2) {
                width: 7rem;
                left: 0;
                transform: translate(-1rem, -3rem);
                @media (min-width: 1200px) {
                    width: auto;
                    height: 17.2rem;
                    transform: translate(0.1rem, -6rem);
                }
            }
            &:nth-child(3) {
                width: 6.5rem;
                left: 0;
                bottom: 0;
                transform: translate(-2.7rem, 1rem);
                @media (min-width: 1200px) {
                    width: auto;
                    height: 13.9rem;
                    transform: translate(-2.7rem, 10rem);
                }
            }
        }
    }
    .card2__left--box-logotip {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 15rem;
        transform: translate(0, -7rem);
        @media (min-width: 1200px) {
            transform: translate(0, -17rem);
            max-width: 70%;
            min-width: 70%;
        }
        li {
            @media (min-width: 1200px) {
                max-width: 28%;
                min-width: 25%;
            }
        }
    }
    .btn {
        margin-top: 4rem;
        @media (min-width: 1200px) {
            margin-top: auto;
            align-self: center;
            margin-bottom: 3rem;
        }
    }
}
.card-border {
    background-image: url("../img/icons/ramca3.svg");
    @media (min-width: 1200px) {
        background-image: url("../img/icons/ramca3.svg");
    }
}
.card4 {
    .card__top {
        @media (min-width: 1200px) {
            display: flex;
            gap: 3rem;
        }
        &-list {
            li {
                position: relative;
                padding-left: 2.4rem;
                &::before {
                    @extend %psevdo-absolut-content;
                    width: 1.3rem;
                    height: 1.3rem;
                    background: #ff8427;
                    border-radius: 50%;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        .card__title {
            margin-bottom: 0;
            @media (min-width: 1200px) {
                margin-bottom: 1.3rem;
            }
        }
        .card2__left--txt {
            margin-left: 0;
            margin-bottom: 0.5rem;
            @media (min-width: 1200px) {
                margin-bottom: 2.6rem;
            }
        }
    }
    .card2__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .card__top-list {
        font-size: 1.4rem;
        line-height: 19px;
        display: none;
        @media (min-width: 1200px) {
            display: block;
        }
    }
    .card2__left--img--top2 {
        width: 10.7rem;
        transform: translate(1rem, 9.4rem);
        z-index: 0;
        @media (min-width: 1200px) {
            transform: translate(8rem, 11.8rem);
        }
    }
    .btn {
        margin-top: 1rem;
    }
    .bottom {
        align-self: center;
        font-size: 1.2rem;
        color: #0f6a42;
        font-weight: bold;
        margin-top: -2rem;
        @media (min-width: 1200px) {
            margin-top: 4rem;
            font-size: 1.6rem;
        }
    }
    .card2__right-img {
        .card2__right-img--img {
            &:nth-child(1) {
                transform: translate(-9.5rem, -1.5rem);
                z-index: -1;
                @media (min-width: 1200px) {
                    transform: translate(-12rem, -3rem);
                }
            }
            &:nth-child(2) {
                width: 11rem;
                top: 50%;
                transform: translate(-2.4rem, -50%);
                z-index: -2;
            }
        }
    }
    .card2__left--box-logotip {
        height: 12rem;
        transform: translate(0, -9rem);
        @media (min-width: 1200px) {
            height: 15rem;
            transform: translate(0, -18rem);
        }
        li {
            min-height: 30%;
            max-width: max-content;
            @media (min-width: 1200px) {
                max-width: max-content;
                min-width: min-content;
            }
        }
        img {
            height: 100%;
            display: block;
        }
    }
}

//
// .card2.card3.card4 {
//     .link-orange {
//         text-align: center;
//         align-self: center;
//     }
//     .card2__left--img--gz {
//         transform: translate(-0.6rem, 0.7rem);
//         z-index: -1;
//         @media (min-width: 1200px) {
//             width: 15rem;
//             transform: translate(-1rem, 4rem);
//         }
//         img {
//             height: 18rem;
//             @media (min-width: 1200px) {
//                 height: auto;
//             }
//         }
//     }

//     .card2__right-img--img:nth-child(1) {
//         @media (min-width: 1200px) {
//             transform: translate(-2rem, -3rem);
//         }
//     }
//     .card3 .card2__left--list li:nth-child(2) {
//         max-width: 80%;
//     }
//     .card2__right-img--gz {
//         transform: translate(-8.5rem, -1.5rem);
//     }
//     .card2__right-img--gz2 {
//         transform: translate(-2.4rem, -50%);
//     }
//     .card2__left--box-gaz {
//         li {
//             height: calc((100% - 0.5rem) / 2);
//             max-width: max-content;
//             @media (min-width: 1200px) {
//                 max-width: 40%;
//                 min-width: 40%;
//             }
//         }
//         img {
//             height: 100%;
//             display: block;
//         }
//     }
//     .card__top-list-gz {
//         @media (min-width: 1200px) {
//             margin-bottom: 3rem;
//         }
//     }
//     .btn-bottom {
//         margin-top: 1rem;
//         margin-bottom: 1rem;
//     }
//     .link-bottom {
//         margin-top: auto;
//     }
//     .card2__right-img--ag {
//         &:nth-child(1) {
//             transform: translate(-4.5rem, -0.5rem);
//             z-index: -1;
//             width: 10rem;
//             @media (min-width: 1200px) {
//                 width: 18rem;
//             }
//         }
//     }
//     .card2__left--img--top3 {
//         transform: translate(-1rem, 8.4rem);
//         z-index: -1;
//         @media (min-width: 1200px) {
//             transform: translate(0rem, 5.4rem);
//         }
//     }
//     .card2__left--list2 li:nth-child(2) {
//         max-width: 72%;
//     }
// }
.card4 {
    .card__top-gap {
        @media (min-width: 1200px) {
            gap: 7rem;
            margin-bottom: 4rem;
        }
    }
    .card2__left--img--gz {
        transform: translate(-1.2rem, -0.4rem);
        z-index: -1;
        @media (min-width: 1200px) {
            transform: translate(10.8rem, 3.8rem);
        }
    }
    .card2__right-img--gz {
        @media (min-width: 1200px) {
            transform: translate(3rem, -7rem) !important;
        }
    }
    .link-bottom {
        text-align: center;
        margin-top: 2.8rem;
        max-width: max-content;
        align-self: center;
        @media (min-width: 1200px) {
            margin-top: 7.8rem;
        }
    }
    .link-bottom-agr {
        margin-top: 0.5rem;
    }
    .card2__left--img--top3 {
        transform: translate(-1rem, 8.4rem);
        z-index: -1;
        @media (min-width: 1200px) {
            transform: translate(0rem, 5.4rem);
        }
    }
    .card2__right .card2__right-img .card2__right-img--ag {
        transform: translate(-4.5rem, -0.5rem);
        z-index: -1;
        width: 10rem;
        @media (min-width: 1200px) {
            width: 18rem;
            transform: translate(-2rem, -0.5rem);
        }
    }
    .btn-mt {
        @media (min-width: 1200px) {
            margin-bottom: 2rem;
        }
    }
    .link-bottom-agr {
        @media (min-width: 1200px) {
            margin-top: 5.5rem;
        }
    }
}

//
.card4 {
    .card4-img {
        @media (min-width: 1200px) {
            transform: translate(-12rem, -6rem);
        }
    }
    .card-luc {
        @media (min-width: 1200px) {
            transform: translate(0.1rem, -9rem) !important;
        }
    }
}
