.card2.card3.card4
    .card2__right 
        .card__top
            .card__top--titles
                h3.card__title Агрохимия
                p.card2__left--txt 
                    span 5 000+ 
                    | позиций
            ul.card__top-list
                li.card__top-list-item удобрения
                li.card__top-list-item грунты
                li.card__top-list-item гербициды
                li.card__top-list-item средства защиты
        ul.card2__left--list.card2__left--list2 
            li Свидетельство о госрегистрации или сертификаты на все наименования
            li Оригинальная упаковка производителя, сами не фасуем

        .card2__left--img.card2__left--img--top2.card2__left--img--top3
            img(src="./wp-content/themes/GreenBall/assets/img/ag.png", alt="Семена")
        .card2__right-img
            .card2__right-img--img.card2__right-img--ag
                img(src="./wp-content/themes/GreenBall/assets/img/ag1.png", alt="Семена")
        ul.card2__left--box-logotip.card2__left--box-ag
            li: img(src="./wp-content/themes/GreenBall/assets/img/fac.png", alt="")
            li: img(src="./wp-content/themes/GreenBall/assets/img/fer.png", alt="")
            li: img(src="./wp-content/themes/GreenBall/assets/img/c.png", alt="")
            li: img(src="./wp-content/themes/GreenBall/assets/img/c.png", alt="")
            li: img(src="./wp-content/themes/GreenBall/assets/img/c.png", alt="")
            li: img(src="./wp-content/themes/GreenBall/assets/img/c.png", alt="")
        a.link-orange.link-bottom(href="#") Скачать прайс «Агрохимия
        a.btn.orange.btn-bottom(href="#") Получить скидку 9% на первые 3 закупки