.card2.card3
    .card2__right 
        h3.card__title Профессиональные семена
        ul.card2__left--list 
            li Семена американской, японской и европейской селекции
            li Упаковка от 100 до 2000 шт. семян
        .card2__left--img.card2__left--img--top2
            img(src="./wp-content/themes/GreenBall/assets/img/cveti.png", alt="Семена")
        .card2__right-img
            .card2__right-img--img
                img(src="./wp-content/themes/GreenBall/assets/img/2.png", alt="Семена")
            .card2__right-img--img
                img(src="./wp-content/themes/GreenBall/assets/img/1.png", alt="Семена")
            .card2__right-img--img
                img(src="./wp-content/themes/GreenBall/assets/img/3.png", alt="Семена")
        ul.card2__left--box-logotip
            li: img(src="./wp-content/themes/GreenBall/assets/img/fl.jpg", alt="")
            li: img(src="./wp-content/themes/GreenBall/assets/img/log9.png", alt="")
            li: img(src="./wp-content/themes/GreenBall/assets/img/log10.jpg", alt="")
            li: img(src="./wp-content/themes/GreenBall/assets/img/log11.png", alt="")
            li: img(src="./wp-content/themes/GreenBall/assets/img/log12.png", alt="")
            li: img(src="./wp-content/themes/GreenBall/assets/img/log13.png", alt="")
        a.btn.orange(href="#") Скачать прайс «Профессиональные семена»