.card2.card3.card4
    .card2__right 
        .card__top
            .card__top--titles
                h3.card__title Газон
            ul.card__top-list.card__top-list-gz
                li.card__top-list-item травосмеси
                li.card__top-list-item цветочные
                li.card__top-list-item сидераты
        ul.card2__left--list 
            li Травосмеси для ландшафтного дизайна и городского благоустройства
            li Зеленые удобрения для органического земледелия

        .card2__left--img.card2__left--img--top2.card2__left--img--gz
            img(src="./wp-content/themes/GreenBall/assets/img/gz.png", alt="Семена")
        .card2__right-img
            .card2__right-img--img.card2__right-img--gz
                img(src="./wp-content/themes/GreenBall/assets/img/gz2.png", alt="Семена")
            .card2__right-img--img.card2__right-img--gz2
                img(src="./wp-content/themes/GreenBall/assets/img/gz3.png", alt="Семена")
        ul.card2__left--box-logotip.card2__left--box-gaz
            li: img(src="./wp-content/themes/GreenBall/assets/img/dlf.jpg", alt="")
            li: img(src="./wp-content/themes/GreenBall/assets/img/zel.png", alt="")
            li: img(src="./wp-content/themes/GreenBall/assets/img/bar.jpg", alt="")
        a.link-orange.link-bottom(href="#") Скачать прайс «Газон»
        a.btn.orange.btn-bottom(href="#") Получить скидку 15% на первые 3 закупки