.card2 
    .card2__right 
        h3 Семена
        .card2__right-img
            img(src="./wp-content/themes/GreenBall/assets/img/sem.png", alt="Семена")
    .card2__left 
        p.card2__left--txt 
            span 5 000+ 
            | позиций в прайсе
        ul.card2__left--list 
            li Контракты официального дилера с 15 производителями
            li Прямые поставки от оригинаторов
            li Сводное свидетельство на семена для каждой партии
        .card2__left--img.card2__left--img--top
            img(src="./wp-content/themes/GreenBall/assets/img/cem2.png", alt="Семена")
        .card2__left--box
            ul.card2__left--box-logotip
                li: img(src="./wp-content/themes/GreenBall/assets/img/log1.jpg", alt="")
                li: img(src="./wp-content/themes/GreenBall/assets/img/log2.jpg", alt="")
                li: img(src="./wp-content/themes/GreenBall/assets/img/log3.png", alt="")
                li: img(src="./wp-content/themes/GreenBall/assets/img/log4.jpg", alt="")
                li: img(src="./wp-content/themes/GreenBall/assets/img/log5.png", alt="")
                li: img(src="./wp-content/themes/GreenBall/assets/img/log6.jpg", alt="")
                li: img(src="./wp-content/themes/GreenBall/assets/img/log7.png", alt="")
                li: img(src="./wp-content/themes/GreenBall/assets/img/log8.png", alt="")
        .card2__left--img.card2__left--img--bottom
            img(src="./wp-content/themes/GreenBall/assets/img/cem1.png", alt="Семена")
        a.link-orange(href="#" download="") Скачать прайс «Семена»
        a.btn.orange.plr(href="#") Получить 
            span скидку 20% 
            | на первые 3 закупки