.card1
    .card1__block
        .card1__block--img 
            img(src="./wp-content/themes/GreenBall/assets/img/icons/ic1.svg", alt="")
        .card1__block--txt
            h3 Проверенные годами
            p Мы работаем в садово-огородном бизнесе с 1993 г. Знаем, где взять настоящие семена без   переплаты за раскрученные сорта
    .card1__block
        .card1__block--img 
            img(src="./wp-content/themes/GreenBall/assets/img/icons/ic2.svg", alt="")
        .card1__block--txt
            h3 Популярные
            p Следим за трендами рынка. 
                |Даем рекомендации по топовым 
                |позициям на каждый месяц 
    .card1__block
        .card1__block--img 
            img(src="./wp-content/themes/GreenBall/assets/img/icons/ic3.svg", alt="")
        .card1__block--txt
            h3 Редкие
            p Привозим под заказ редкие 
                |и малоизвестные товары. Добавляем изюминку вашему ассортименту