.card2.card3.card4.card-border
    .card2__right 
        .card__top
            .card__top--titles
                h3.card__title Растения
                p.card2__left--txt 
                    span 5 000+ 
                    | позиций в прайсе
            ul.card__top-list
                li.card__top-list-item саженцы
                li.card__top-list-item луковичные
                li.card__top-list-item многолетники
                li.card__top-list-item лук-севок, чеснок
        ul.card2__left--list 
            li Компактные и удобные для транспортировки
            li Закрытая корневая система
            li Высокая степень приживаемости
        .card2__left--img.card2__left--img--top2
            img(src="./wp-content/themes/GreenBall/assets/img/cveti2.png", alt="Семена")
        .card2__right-img
            .card2__right-img--img
                img(src="./wp-content/themes/GreenBall/assets/img/luc.png", alt="Семена")
            .card2__right-img--img
                img(src="./wp-content/themes/GreenBall/assets/img/luc2.png", alt="Семена")
        ul.card2__left--box-logotip
            li: img(src="./wp-content/themes/GreenBall/assets/img/log2.jpg", alt="")
            li: img(src="./wp-content/themes/GreenBall/assets/img/log11.png", alt="")
            li: img(src="./wp-content/themes/GreenBall/assets/img/log12.png", alt="")
        p.bottom Смотреть 
            a.link-orange(href="#") график 
            | поставок растений
        a.btn.orange(href="#") Скачать прайс «Растения»