section.development
    .container-slider
        h2.h2 Посмотрите, как можно развиваться  с нами 
        p Побывайте сами в этих магазинах и оцените уровень 
        include ./../../bem-blocks/slider/slider-adres.pug