header.header 
    .container 
        include ./../../bem-blocks/logo/logo.pug
        span Помогаем делать садово-огородный бизнес с 1993 г
        include ./../../bem-blocks/phone/phone.pug
        include ./../../bem-blocks/social/social.pug
        .grafic пн-пт с 9 до 17.30, сб с 9 до 14 с января по июнь
        button Перезвонить вам?
        include ./../../bem-blocks/address/address.pug