ul.social 
    li: a(href="viber://chat?number=79179720101" target="_blank" ): img(src="./wp-content/themes/GreenBall/assets/img/icons/viber.svg", alt="viber")  
    li: a(href="//api.whatsapp.com/send?phone=79179720101" target="_blank"): img(src="./wp-content/themes/GreenBall/assets/img/icons/whatsapp.svg", alt="Whatsapp")  
    li: a(href="/" target="_blank"): img(src="./wp-content/themes/GreenBall/assets/img/icons/vk.svg", alt="vk")  