.block-center.block-center-advantages
    .block-center__img
        img(src="./wp-content/themes/GreenBall/assets/img/25000.png", alt="25000+")
    p позиций
        br 
        | ассортимента
