section.products
    .container
        .block-center.block-center-products
            .block-center__img
                img(src="./wp-content/themes/GreenBall/assets/img/rost.png", alt="")
            .block-center__txt
                p Всего 
                    b 5 000 ₽ 
                    | сумма минимальной закупки
                a.link-orange(href="/") Читать подробности условий работы
        include ./../../bem-blocks/card/card2.pug
        .cards-wrapper
            .sliders-cards
                //- Slider main container
                .swiper.slider-card
                    //-   Additional required wrapper
                    .swiper-wrapper
                        //- Slides
                        .swiper-slide.swiper-slider-card
                            include ./../../bem-blocks/card/card3.pug
                        .swiper-slide.swiper-slider-card
                            include ./../../bem-blocks/card/card4.pug
                        .swiper-slide.swiper-slider-card
                            include ./../../bem-blocks/card/card5.pug
                        .swiper-slide.swiper-slider-card
                            include ./../../bem-blocks/card/card6.pug