.products {
    width: 100%;
}
.cards-wrapper {
    width: 100%;
    max-width: 116rem;
    .swiper-wrapper {
        @media (min-width: 1200px) {
            flex-wrap: wrap;
            gap: 3rem 5rem;
        }
    }
    .swiper-slider-card {
        display: flex;
        justify-content: center;
        max-width: 55.1rem;
    }
}
