section.products
    .container
        .block-center.block-center-products
            .block-center__img
                img(src="./wp-content/themes/GreenBall/assets/img/rost.png", alt="")
            .block-center__txt
                p Всего 
                    b 5 000 ₽ 
                    | сумма минимальной закупки
                a.link-orange(href="/") Читать подробности условий работы