/* FONTS */

/* CenturyGothic */

// @mixin CenturyGothic ($font-family: 'Century Gothic', $font-weight: 700, $font-style: normal, $font-display: swap) {
//     font-family: $font-family;
//     font-weight: $font-weight;
//     font-style: $font-style;
//     font-display: $font-display;
// }
// @include Manrope-Light;
@mixin Manrope-Light($font-family: "Manrope-Light", $font-weight: 300, $font-style: normal, $font-display: swap) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: $font-display;
}
@mixin Manrope-Regular($font-family: "Manrope-Regular", $font-weight: 400, $font-style: normal, $font-display: swap) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: $font-display;
}
@mixin Manrope-Medium($font-family: "Manrope-Medium", $font-weight: 500, $font-style: normal, $font-display: swap) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: $font-display;
}
@mixin Manrope-Semibold($font-family: "Manrope-Semibold", $font-weight: 600, $font-style: normal, $font-display: swap) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: $font-display;
}
@mixin Manrope-Bold($font-family: "Manrope-Bold", $font-weight: 700, $font-style: normal, $font-display: swap) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: $font-display;
}
@mixin Manrope-ExtraBold(
    $font-family: "Manrope-ExtraBold",
    $font-weight: 800,
    $font-style: normal,
    $font-display: swap
) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: $font-display;
}

// миксины
@mixin width($w) {
    width: $w;
}
// .df {
//     @include width(100%);
// }
%width {
    width: 100%;
}
%width-max {
    width: max-content;
}
// .p {
//     @extend %width;
// }
