section.main-banner.banner
    .container 
        .banner-wrapper
            .banner-wrapper__block.banner-wrapper__block--left
                p.subtitle Покупайте оптом  
                    span от 5000 ₽
                h1.title.main-banner__title Всё для сада и огорода
                .banner-wrapper__block--img--modile
                    img(src="./wp-content/themes/GreenBall/assets/img/banner-modile.png", alt="Всё для сада и огорода")
                ul 
                    li
                        img(src="./wp-content/themes/GreenBall/assets/img/ic1.png", alt="Семена")
                        |Семена
                    li
                        img(src="./wp-content/themes/GreenBall/assets/img/ic2.png", alt="Агрохимия, грунт")
                        |Агрохимия, грунт
                    li
                        img(src="./wp-content/themes/GreenBall/assets/img/ic3.png", alt="Растения, газон")
                        |Растения, газон
                    li
                        img(src="./wp-content/themes/GreenBall/assets/img/ic4.png", alt="Садово-огородный инструмент")
                        |Садово-огородный инструмент
                    li
                        img(src="./wp-content/themes/GreenBall/assets/img/ic5.png", alt="Декор для сада и дома")
                        |Декор для сада и дома
                .button--wrapper
                    a.btn.orange(href="#" target="_blank") Скачать прайсы
                    button.btn.white.btn-modal2 Подобрать стартовый ассортимент
            .banner-wrapper__block.banner-wrapper__block--right 
                img(src="./wp-content/themes/GreenBall/assets/img/colaj1.png", alt="")
                img(src="./wp-content/themes/GreenBall/assets/img/colaj2.png", alt="")
                img(src="./wp-content/themes/GreenBall/assets/img/colaj3.png", alt="")