section.main-banner.banner
    .container 
        .banner-wrapper
            .banner-wrapper__block.banner-wrapper__block--left
                p.subtitle Покупайте оптом от 
                    span 5000 ₽
                h1.title.main-banner__title Всё для сада и огорода
                ul 
                    li: a(href="/") 
                        img(src="./wp-content/themes/GreenBall/assets/img/ic1.png", alt="Семена")
                        |Семена
                    li: a(href="/") 
                        img(src="./wp-content/themes/GreenBall/assets/img/ic2.png", alt="Агрохимия, грунт")
                        |Агрохимия, грунт
                    li: a(href="/") 
                        img(src="./wp-content/themes/GreenBall/assets/img/ic3.png", alt="Растения, газон")
                        |Растения, газон
                    li: a(href="/") 
                        img(src="./wp-content/themes/GreenBall/assets/img/ic4.png", alt="Садово-огородный инструмент")
                        |Садово-огородный инструмент
                    li: a(href="/") 
                        img(src="./wp-content/themes/GreenBall/assets/img/ic5.png", alt="Декор для сада и дома")
                        |Декор для сада и дома
            .banner-wrapper__block.banner-wrapper__block--right 
                img(src="./wp-content/themes/GreenBall/assets/img/colaj1.png", alt="")
                img(src="./wp-content/themes/GreenBall/assets/img/colaj2.png", alt="")
                img(src="./wp-content/themes/GreenBall/assets/img/colaj3.png", alt="")