.main-banner {
    padding-bottom: 5.9rem;
    padding-top: 2.1rem;
    @media (min-width: 1024px) {
        padding-bottom: 4rem;
        padding-top: 4.7rem;
    }
}
.banner {
    .subtitle {
        font-size: 2rem;
        line-height: 27px;
        margin-bottom: 1.1rem;
        text-align: center;
        padding: 0 1.7rem;
        @media (min-width: 900px) {
            font-size: 3.4rem;
            line-height: 46px;
            text-align: left;
        }
        span {
            @include Manrope-Bold;
            @extend %color-green;
        }
    }
}
.banner-wrapper {
    display: flex;
    justify-content: space-between;
    @extend %width;
    @media (min-width: 900px) {
        position: relative;
    }
    &__block {
        ul {
            margin-bottom: 2.3rem;
            max-width: max-content;
            @media (min-width: 1024px) {
                margin-bottom: 6.3rem;
                padding-left: 2rem;
            }
        }
        li {
            margin-top: 0.9rem;
            &:first-child {
                margin-top: 0;
            }
            a {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 2rem;
            }
            img {
                width: 5.6rem;
                height: 5.6rem;
                margin: 0;
            }
        }
        .btn {
            margin: 0 auto;
            @media (min-width: 500px) {
                max-width: 30rem;
                min-width: 30rem;
            }
            @media (min-width: 900px) {
                margin: 0;
            }
        }
        .orange {
            margin-bottom: 2.4rem;
            @media (min-width: 900px) {
                margin-bottom: 2.4rem;
            }
        }
        .white {
            width: 100%;
            @media (min-width: 500px) {
            }
        }
        .button--wrapper {
            @media (min-width: 900px) {
                justify-content: flex-start;
                gap: 4.5rem;
            }
            @media (min-width: 1024px) {
                padding-left: 2rem;
            }
        }
    }
    &__block--left {
        width: 100%;
        @media (min-width: 900px) {
            max-width: max-content;
            padding-left: 3rem;
        }
        img {
            margin: 0 auto;
        }
    }
    &__block--right {
        min-height: 34.2rem;
        display: none;
        @media (min-width: 900px) {
            max-height: 47.5rem;
            min-height: 37.5rem;
            min-width: 29rem;
            max-width: 44.7rem;
            right: 0;
            width: 100%;
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-image: url("../img/crug.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -2;
            top: 50%;
            transform: translate(0%, -50%);
        }
        @media (min-width: 1180px) {
            max-height: 57.5rem;
            min-height: 57.5rem;
            min-width: 29rem;
            max-width: 74.7rem;
            transform: translate(-18%, -59%);
        }
    }
    &__block--img--modile {
        max-height: 57.5rem;
        min-height: 24.2rem;
        min-width: 29rem;
        width: 100%;
        @media (min-width: 900px) {
            display: none;
        }
    }
}

/* селектор */
.banner-wrapper__block--right img {
    // width: 100px;
    // height: 100px;
    position: absolute;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-name: img1;
    animation-fill-mode: backwards;
    &:nth-child(1) {
        animation-duration: 0.5s;
        animation-delay: 0.5s;
    }
    &:nth-child(2) {
        animation-duration: 1s;
        animation-delay: 1s;
    }
    &:nth-child(3) {
        animation-duration: 1.5s;
        animation-delay: 1.5s;
    }
}

/* селектор */
.banner-wrapper__block--left ul li {
    position: relative;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    @media (min-width: 1024px) {
        animation-name: item;
    }
    animation-fill-mode: backwards;
    &:nth-child(1) {
        animation-duration: 0.5s;
        animation-delay: 0.5s;
    }
    &:nth-child(2) {
        animation-duration: 0.75s;
        animation-delay: 0.75s;
    }
    &:nth-child(3) {
        animation-duration: 1s;
        animation-delay: 1s;
    }
    &:nth-child(4) {
        animation-duration: 1.25s;
        animation-delay: 1.25s;
    }
    &:nth-child(5) {
        animation-duration: 1.5s;
        animation-delay: 1.5s;
    }
}

/* ключевые кадры */
@keyframes item {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ключевые кадры */
@keyframes img1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
